@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css");
@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap");

/* Rangitoto (#2F2C21): RGB(47, 44, 33)
Chino (#CEC8A8): RGB(206, 200, 168)
Lemon Grass (#909884): RGB(144, 152, 132)
Juniper (#758A8D): RGB(117, 138, 141) */
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
html {
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

:root {
  --text-color: #5b6aaf;
  --primary-color-light: #7d98cc;
  --sidebar-color: rgb(17, 27, 50);
  --primary-color: rgb(177, 151, 177);

  --trans-02: all 0.2s ease;
  --trans-03: all 0.3s ease;
  --trans-04: all 0.4s ease;
  --trans-05: all 0.5s ease;
}
body {
  transition: var(--trans-04);
  width: 100%;
  height: 100%;
}
body.dark {
  --text-color: rgb(255, 255, 255);
  --sidebar-color: #fbebbc;
  --primary-color: rgb(239, 174, 115);
  --primary-color-light: #c18e69;
}

body.dark .sidebar .image .logo-light {
  position: absolute;
  opacity: 1;
}
body.dark .sidebar .image .logo-dark {
  opacity: 0;
}
.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: url(../Images/About-dark.jpg);
  background-size: cover;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  flex-wrap: wrap;
}
.dark .main {
  background: url(../Images/About-light.jpg);
  background-size: cover;
}
/* ======sidebar===start================================================ */
.sidebar .text {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  transition: var(--trans-04);
  white-space: nowrap;
  opacity: 1;
}
.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
}
.sidebar .image .logo-dark {
  position: absolute;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: var(--sidebar-color), 0.3;
  padding: 10px 14px;
  transition: var(--trans-05);
  z-index: 100;
  backdrop-filter: blur(10px);
}
.sidebar.close {
  width: 55px;
}
.sidebar.close .text {
  visibility: hidden;
}

.sidebar header {
  position: relative;
}
.sidebar .image-text img {
  width: 40px;
  border-radius: 6px;
}
.sidebar header .image-text {
  display: flex;
  align-items: center;
}
header .image-text .header-text {
  display: flex;
  flex-direction: column;
}
.header-text .name {
  font-weight: 600;
}
.header-text .profession {
  margin-top: -2px;
}
.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--text-color);
  font-size: 22px;
  transition: var(--trans-05);
}
.sidebar.close .toggle {
  transform: translateY(-50%);
}

.sidebar li .icon {
  display: flex;
  align-items: center;
  min-width: 40px;
  font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text {
  transition: var(--trans-02);
  color: var(--text-color);
  font-size: 20px;
}
.sidebar li {
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}
.sidebar li a {
  display: flex;
  width: 100%;
  align-items: center;
  height: 100%;
  text-decoration: none;
  transition: var(--trans-04);
  border-radius: 6px;
  padding-left: 15px;
}
.sidebar.close li a {
  width: 70%;
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}
.sidebar .menu-bar {
  margin-top: 50px;
  height: 85%;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}
.menu-bar .mode {
  background: var(--primary-color-light);
  border-radius: 25px;
  display: flex;

  justify-content: center;
}
.menu-bar .mode .moon-sun {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar.close .menu-bar .mode .toggle-switch {
  position: absolute;
  height: 3px;
}
.menu-bar .mode i {
  position: absolute;
  transition: var(--trans-03);
}
.menu-bar .mode i.moon {
  opacity: 0;
}
body.dark .menu-bar .mode i.sun {
  opacity: 0;
}
body.dark .menu-bar .mode i.moon {
  opacity: 1;
}

.menu-bar .mode .toggle-switch {
  height: 100%;
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.toggle-switch .switch {
  height: 22px;
  width: 44px;
  border-radius: 25px;
  background: var(--primary-color);
  position: relative;
}
.switch::before {
  height: 15px;
  width: 15px;
  background: var(--sidebar-color);
  content: " ";
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  transition: var(--trans-03);
}

span.mode-text.text {
  color: var(--sidebar-color);
}
.mode .moon-sun .moon,
.mode .moon-sun .sun {
  color: var(--sidebar-color);
}

body.dark .switch::before {
  left: 25px;
}
/* ======sidebar===end================================================ */
/* ================================================================================================================ */
section.home {
  position: fixed;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background: rgb(0, 0, 0, 0);
  transition: var(--trans-05);
  align-self: end;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--primary-color);
}
.dark section.home {
  color: var(--text-color);
}
.sidebar.close ~ .home {
  left: 55px;
  width: calc(100% - 55px);
  transition: var(--trans-05);
}

.home .home-tab {
  width: 99%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .home-tab .home-center {
  width: 80%;
  height: 80%;
  background: rgb(0, 0, 0, 0);
  backdrop-filter: blur(50px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 10px;
}
.home-center .home-content {
  width: 50%;
  height: 100%;
  display: flex;

  align-items: first baseline;
  flex-direction: column;
  font-size: 3rem;
  justify-content: center;
}
.home-content .text-h5 {
  color: rgb(101, 152, 208);
  line-height: 0.5rem;
  margin-top: 50px;
  align-self: auto;
}
.home-content .text-h1 {
  line-height: 6rem;
}
.home-content .text-h4 {
  line-height: 3rem;
  margin-bottom: 50px;
}
.dark .home-content .text-h5 {
  color: var(--text-color);
}

.home-content .text-p {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  line-height: 2rem;
  font-size: 1.5rem;
  color: rgb(101, 152, 208);
}
.dark .home-content .text-p {
  color: var(--text-color);
}
.home-center .home-img-box {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.home .home-center .home-img {
  background: url(../Images/home.png) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 100%;
}
.dark .home .home-center .home-img {
  background: url(../Images/home-light.png) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.lets-talk h3 {
  font-size: 30px;
  color: var(--primary-color);
}

.lets-talk {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(177, 151, 177, 0.5);
  cursor: pointer;
  z-index: 0;
  border-radius: 10px;
  text-align: center;
}

/*===================================================Home =================end============================================*/
/* ====================================about========================================== ==========================*/
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 45px;
  font-size: 20px;
  color: var(--primary-color);
}
.dark .about {
  color: var(--text-color);
}

.about-heading {
  font-size: 4rem;
}
.about-heading > h1 {
  font-family: "Sixtyfour", sans-serif;
}
.about-text-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.about-text {
  flex-basis: calc(33.333% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.about-tag {
  margin-bottom: 10px;
  text-align: center;
}
/* =====================================about-end=============================================== */
.skill-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-left: 100px;
}
.skill-items {
  backdrop-filter: blur(50px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
  padding: 10px 40px;
  width: 100%;
}
.heading {
  text-align: center;
}
.skill-content {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  align-items: center;
}
.empty {
  width: 100px;
  height: 100px;
}
/*======================================================================================skills=====================end==========================================*/
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++projects++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 70vh;
  flex-wrap: wrap;

  font-size: 2rem;
}
.projects h3 {
  color: var(--primary-color);
}
.dark .projects h3 {
  color: var(--text-color);
}

.projects-item {
  backdrop-filter: blur(50px);
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
  width: 20%;
  height: 40%;
  justify-content: center;
  align-items: center;
}
.projects-item img {
  object-fit: cover;
  width: 120%;
  height: 100%;
  border-radius: 30px;
  outline: none;
}
.projects-item a {
  text-decoration: none;
}
/*======================================================================================projects=====================end==========================================*/
/*==========================================================================education start========================================================================*/
.education-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 2rem;
  flex-direction: column;
}
.edu-text {
  backdrop-filter: blur(50px);
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
  width: 100%;
  height: 60%;
  justify-content: center;
  align-items: center;
}
.edu-text > p {
  align-self: flex-start;
}

/*==========================================================================education end===================================*/
.about .skill-box .contact-box {
  background: rgb(0, 0, 0, 0);

  width: 80%;
  height: 80%;
  outline: none;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  padding: 20px 20px;
  border-radius: 30px;
  backdrop-filter: blur(50px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  justify-content: center;
  gap: 40px;
  margin-bottom: 100px;
}
.about .skill-box .contact-box .contact-links {
  width: 40%;
  height: 100%;

  align-content: flex-start;
}
.about .skill-box .contact-box .contact-form {
  width: 50%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.about .skill-box .contact-box .contact-links h1 {
  font-size: 50px;
  line-height: 70px;
  text-align: start;
}
.about .skill-box .contact-box .contact-links .imgofcontact {
  width: 100%;
  height: 400px;
  background: url(../Images/contact.png);
  background-size: cover;
  border: 3px solid rgba(255, 255, 255, 0.18);
  border-radius: 25px;
}

.about .skill-box .contact-box .contact-links .socialmedia {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.visible {
  visibility: visible;
}
.socialmedia .whatsapp-num {
  width: 150px;
  height: 30px;
  background: var(--primary-color);
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: var(--sidebar-color);
  padding-left: 10px;
  visibility: hidden;
}
/* ==============================================contact form================================================================ */
.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dark .contact-form {
  color: var(--text-color);
}
.contact-form .contact-item {
  font-size: 30px;
}
.contact-form form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
}

.contact-form .contact-item button {
  width: 150px;
  height: 40px;
  display: table;
  font-size: 20px;

  border-radius: 40px;
  color: var(--primary-color);
  background: rgb(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-indent: 23px;
}
.contact-form .contact-item input,
.contact-form .contact-item textarea {
  display: table;
  width: 400px;
  height: 40px;
  font-size: 20px;
  padding: 10px;
  border-radius: 40px;
  color: var(--primary-color);
  background: rgb(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-indent: 23px;
}
.contact-form .contact-item input::placeholder {
  color: var(--primary-color);
}

.dark .contact-form .contact-item button,
.dark .contact-form .contact-item input::placeholder {
  color: var(--text-color);
}
.contact-form p {
  font-size: 20px;
  margin-bottom: 30px;
  margin-right: 50px;
}
.contact-form .contact-item #message {
  height: 100px;
  display: flex;
}
.dark .contact-form .contact-item #message {
  color: var(--text-color);
}

/* ========================================================================contact end =================================================================================== */

/* ========================================================================media queries================================================================================== */
@media only screen and (max-width: 1071px) {
  .home .home-tab .home-center {
    margin-left: 20px;
    flex-direction: column;
    min-width: 300px;
  }
  .home-center .home-content {
    width: 100%;
    height: 80%;
    display: flex;

    flex-direction: column;
    order: 1;
    font-size: 1.5rem;
  }
  .home-center .home-img-box {
    order: 0;
    width: 100%;
  }
  .home-content .text-p {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    padding-left: 10px;
    line-height: 1.5rem;
  }
  .home-content .text-h5 {
    color: rgb(101, 152, 208);
  }
  .home-content .text-h1 {
    line-height: 4rem;
  }
  .home-content .text-h4 {
    margin-bottom: 0;
  }
  .about-text-box {
    flex-direction: column;
  }
  .about {
    width: 80%;
    margin-left: 100px;
    gap: 20px;
  }
  .about-heading {
    font-size: 2rem;
  }
  .skill-box {
    flex-direction: column;
    margin: 50px;
  }
  .projects {
    font-size: 2rem;
  }
  .projects-item {
    min-width: 50%;
  }
  .education-box {
    font-size: 1.5rem;
  }
  .edu-text {
    width: 50%;
  }
  .about .skill-box .contact-box {
    flex-direction: column;
  }
  .about .skill-box .contact-box .contact-links {
    width: 100%;
  }
}
@media (min-width: 501px) and (max-width: 1600px) {
  .home-content .text-p {
    display: flex;
    align-items: center;
    padding-left: 10px;
    line-height: 1.5rem;
  }

  .home-center .home-content {
    height: 80%;
    justify-content: center;
    font-size: 2.6rem;
  }
  .home-content .text-h5 {
    color: rgb(101, 152, 208);
  }
  .home-content .text-h1 {
    line-height: 5rem;
  }
  .home-content .text-h4 {
    line-height: 3rem;
    margin-bottom: 12px;
  }
  .edu-text {
    width: 70%;
  }
}
