/* Rangitoto (#2F2C21): RGB(47, 44, 33)
Chino (#CEC8A8): RGB(206, 200, 168)
Lemon Grass (#909884): RGB(144, 152, 132)
Juniper (#758A8D): RGB(117, 138, 141) */
* {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url(../Images/mainbg2.jpg);
  background-size: 100% 95%;
  background-origin: border-box;
  justify-content: center;
  align-items: center;
}
.heading {
  position: fixed;
  top: 50px;
}
.heading > h1 {
  font-size: 75px;
  color: #cec8a8;
}
strong:hover {
  color: #758a8d;
}
.window {
  display: flex;
  width: 100vw;
  height: 70vh;
  justify-content: center;
  gap: 18px;
  align-items: center;
  padding-right: 20px;
}
.nav-tab {
  display: flex;
  width: 170px;
  height: 530px;
  justify-content: center;
  gap: 18px;
  align-items: center;
  margin-bottom: 40px;
  margin-left: 10px;
  color: rgb(47, 44, 33, 0);
}
.nav-tab > h2 {
  font-size: 50px;
}
.window > a {
  text-decoration: none;
}
.hover {
  display: flex;
  width: 170px;
  height: 530px;
  background-color: rgb(144, 152, 132, 0.7);
  margin-bottom: 40px;
  color: rgb(47, 44, 33, 1);
}
.footer {
  bottom: 50px;
  position: fixed;
  width: 100vw;
  height: 70px;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 20px;
}

@media only screen and (max-width: 1800px) {
  * {
    overflow: hidden;
  }
  .window {
    display: flex;
    flex-direction: column;
  }
  .nav-tab {
    width: 100px;
    height: 100px;
  }
  .mob-menu {
    display: flex;
    width: 20vw;
    height: 10vh;
    align-self: normal;
    position: fixed;
    top: 5px;
    left: 5px;
    border-radius: 40%;
  }
  .mob-menu:hover {
    background-color: rgb(144, 152, 132, 0.5);
  }
}
